logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
redis/db
.cache
.target/
bin/
.DS_Store
stats.yaml
trace.yaml
.sbtserver/
project/.sbtserver

results/
results-trace/
db
