@(message: String)

@main("Welcome to your Naggy") {

<div class="banner" style="background-image: url('/assets/images/banner.png')">
	<a href="/" class="logo">Naggy</a>
	<h1>Startup Foundation</h1>
	<p>There are <span>18 people</span> in this community</p>
	<a href="#" class="save-task-btn">Save your nag</a>
</div>

<div class="container">
	<form action="/chores/add" method="POST">
		<div class="input-box">
			<h3>Define your task</h3>
			<input class="description" type="text" name="description" placeholder="Describe your task">
		</div>
		<div class="input-box">
			<h3>When do you want this task to be performed</h3>
			<ul>
				<li><label><input type="checkbox" name="day-0" checked >Monday</label></li>
				<li><label><input type="checkbox" name="day-1" checked >Tuesday</label></li>
				<li><label><input type="checkbox" name="day-2" checked >Wednesday</label></li>
				<li><label><input type="checkbox" name="day-3" checked >Thursday</label></li>
				<li><label><input type="checkbox" name="day-4" checked >Friday</label></li>
			</ul>
		</div>
		<button type="button" style="display:none">Submit</button>
	</form>
</div>


}
