@(persons: Set[model.Person])

@main("Overview of crew") {

<h1>Crew</h1>

<ul>
    @for(person <- persons) {
        <form action="crew/@person.id" method="POST" style="display: inline-block">
            <input type="text" value="@person.name" name="name"/>
            <input type="text" value="@person.phone" name="phone"/>
            <input type="submit" value="update"/>
        </form>
        <form action="crew/@person.id/delete" method="POST" style="display: inline-block">
            <input type="submit" value="delete"/>
        </form>
        <br/>
    }
    <li>
        <form action="crew/add" method="POST">
            <input type="text" placeholder="Name" name="name"/>
            <input type="text" placeholder="Phone" name="phone"/>
            <input type="submit" value="add"/>
        </form>
    </li>
</ul>

}
