@(naggers: Set[model.Nagger])

@main("Overview of naggers") {

<h1>Naggers</h1>

<ul>
    @for(nagger <- naggers) {
    <form action="naggers/@nagger.id" method="POST">
        <input type="text" value="@nagger.name" name="name"/>
        <input type="text" value="@nagger.phone" name="phone"/>
        <input type="submit" value="update"/>
    </form>
    }
    <li>
        <form action="naggers/add" method="POST">
            <input type="text" placeholder="Name" name="name"/>
            <input type="text" placeholder="Phone" name="phone"/>
            <input type="submit" value="add"/>
        </form>
    </li>
</ul>

}
