@(message: String)

@main("Welcome to your Naggy") {

<div class="banner" style="background-image: url('/assets/images/banner.png')">
	<a href="/" class="logo">Naggy</a>
	<h1>Startup Foundation</h1>
	<p>There are <span>18 people</span> in this community</p>
	<a href="#" class="new-task-btn entypo-plus"></a>
</div>

<div class="container">
	<ul class="task-list">
		<li class="task">
			<header>
				<p class="title">Put all the dishes in the dishwasher</p>
				<ul class="days-indicator">
					<li>Monday</li>
					<li>Wednesday</li>
					<li class="active">Friday</li>
				</ul>
			</header>
			<aside><span>next up on Friday</span><img src="/assets/images/avatar-frank.jpg" class="user-avatar"><a href="#" class="change-btn"></a></aside>
		</li>
		<li class="task">
			<header>
				<p class="title">Water the plants</p>
				<ul class="days-indicator">
					<li>Monday</li>
					<li class="active">Wednesday</li>
					<li>Friday</li>
				</ul>
			</header>
			<aside><span>next up on Wednesday</span><img src="/assets/images/avatar-leon.jpeg" class="user-avatar"><a href="#" class="change-btn"></a></aside>
		</li>
		<li class="task">
			<header>
				<p class="title">Empty the trash bin</p>
				<ul class="days-indicator">
					<li class="active">Monday</li>
					<li>Wednesday</li>
					<li>Friday</li>
				</ul>
			</header>
			<aside><span>next up on Monday</span><img src="/assets/images/avatar-kevin.jpeg" class="user-avatar"><a href="#" class="change-btn"></a></aside>
		</li>
	</ul>
</div>


}
