@(allocations: Set[model.Allocation])

@main("Overview of tasks") {

<div class="banner" style="background-image: url('/assets/images/banner.png')">
    <a href="/" class="logo">Naggy</a>
    <h1>Startup Foundation</h1>
    <p>There are <span>28 people</span> in this community</p>
    <a href="#" class="new-task-btn entypo-plus"></a>
    <a href="#" class="save-task-btn hide">Save</a>
</div>

<div class="container">

    <ul class="task-list">
        @for(allocation <- allocations) {
            @defining(allocation.task) { task =>

            <li class="task">
                    <header>
                        <form data-task-id="@task.id" action="tasks/@task.id" method="POST" style="display: inline-block">
                            <input class="title @task.id" type="text" value="@task.name" name="name" data-task-id="@task.id" placeholder="Describe the task"/>
                        </form>
                        <ul class="days-indicator">
                            <li>Monday</li>
                            <li>Wednesday</li>
                            <li class="active">Friday</li>
                        </ul>
                    </header>
                    <aside>
                        <span>next up on Friday</span>
                        <img src="@allocation.person.avatarSrc" class="user-avatar">
                        <a href="#" class="change-btn" data-task-id="@task.id"></a>
                        <form action="tasks/@task.id/delete" method="POST">
                            <a href="#" class="delete-task-btn entypo-trash"></a>
                        </form>
                    </aside>
            </li>
            }
        }
    </ul>

    <form action="/tasks/add" method="POST" class="create hide">
        <div class="input-box">
            <h3>Define your task</h3>
            <input class="description" type="text" name="description" placeholder="Describe your task">
        </div>
        <div class="input-box">
            <h3>When do you want this task to be performed</h3>
            <ul>
                <li><label><input type="checkbox" name="day-0" checked >Monday</label></li>
                <li><label><input type="checkbox" name="day-1" checked >Tuesday</label></li>
                <li><label><input type="checkbox" name="day-2" checked >Wednesday</label></li>
                <li><label><input type="checkbox" name="day-3" checked >Thursday</label></li>
                <li><label><input type="checkbox" name="day-4" checked >Friday</label></li>
            </ul>
        </div>
        <button type="button" style="display:none">Submit</button>
    </form>
</div>


}
